[submodule "dapp/lib/forge-std"]
	path = dapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dapp/lib/target-contracts"]
	path = dapp/lib/target-contracts
	url = https://github.com/eodata/target-contracts
